<%- include('partials/header'); -%>

<% if (user!=null&&user.usertype=='seller') { %>

    <div id="main-container"> 


      <div class="container inventory">
        <h3 class="row-name">Inventory(click on product to update info)</h3>            
        <div class="row mx-auto my-3" id="inventoryitems">
                   
        </div> 
        
      </div>

   </div>
   

<% } else if(user!=null&&user.usertype=='buyer'){ %>

    <div id="main-container">
      
      <div class="container recentpurchases">
        <h3 class="row-name">Recent Purchases</h3>            
        <div class="row mx-auto my-3" id="recentitems">

          <% for(let i=6;i>=0;i--){
            if(user.history[i]!=null){
              item=user.history[i];
              let totalpaid=parseInt(item.quantity)*parseInt(item.prodname);
              console.log(totalpaid,item.quantity,item.price); %> 

            <div class="col-lg-4 my-1">  

              <div class="card border-dark">
                <img src=<%=item.url%> width="500" height="300" id="card-img" class="card-img-top img-fluid" onerror="this.onerror=null; this.src='https://cdn.jpegmini.com/user/images/slider_puffin_jpegmini_mobile.jpg'">
                <div class="card-block bg-dark text-white px-4">
                  <h3 class="card-title"><%=item.prodname%> &nbsp&nbsp x<%=item.quantity%></h3>
                  <!-- <h4>Total paid: Rs.<%=totalpaid%></h4>   -->                             
                </div>
              </div>
            </div>

            
         <% }} %>
                   
        </div> 
        
      </div>



    </div>



<% } else { %>

  <div id="welcome">

  <p>Welcome!</p>
  <p><a href="/login">Login</a> to begin your shopping experience</p>

</div>
<% } %>


<script>
  const inventory=document.getElementById("inventoryitems");

  async function displayInventory(){
    try {
      const res = await fetch('/getinventory', { 
        method: 'GET', 
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);

      data.forEach(item => {
        
        let inventoryitem=document.createElement('div');
        inventoryitem.classList.add('col-lg-4','my-1');
        inventoryitem.onclick=function(){window.location.href=`/editproduct/${item._id}`;}
        inventoryitem.innerHTML=`<div class="card border-dark">
                                    <img src=${item.url} width="500" height="300" id="card-img" class="card-img-top img-fluid" onerror="this.onerror=null; this.src='https://cdn.jpegmini.com/user/images/slider_puffin_jpegmini_mobile.jpg'">
                                    <div class="card-block bg-dark text-white px-4">
                                      <h3 class="card-title">${item.itemname} &nbsp&nbsp x${item.quantity}</h3>                               
                                    </div>
                                  </div>`;
        inventory.appendChild(inventoryitem);
      });


    }
    catch (err) {
      console.log(err);
    }
  }

  if(inventory){
    displayInventory();
  }
</script>


</body>
</html>
